* {
    inset:0;
    margin:0;
    padding:0;
}

.container {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
flex-wrap: wrap;
justify-content: space-evenly;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

p {
font-style: italic;
font-size: 24px;
width: 900px;
gap: 1rem;

}

.links a {
background: black;
color: white;
border: 2px solid white;
border-radius: 1rem;
padding-left: 12px;
padding-right: 12px;
cursor: pointer;
text-decoration: none;
}

.links a:hover{
background: white;
color: black;
border: 2px solid black
}

body {
    background-image: url("file:///C:/Users/1107-03/Downloads/ps-controller-svgrepo-com%20(1).svg");
    background-repeat: no-repeat;
}

.hidden{
    font-size: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

    button {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      button:hover {
        background: teal;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }
      
      .dark body {
        background: teal;
        color: black;
      }

      .dark button {
        background: teal;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .dark button:hover {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .dark body image {
        background-image: url("./pics/backon.svg");
    background-repeat: no-repeat;
    background-size: 50cap;
      }

      .place {
        position: absolute;
                transform-origin: right;
                top: 0dvh;
                left: 95dvw;
                width: fit-content;
                height:fit-content;
      }