* {
    inset:0;
    margin:0;
    padding:0;
}

.container {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
}

.container *:nth-child(1) {
    max-width: 200px;
}

.container *:nth-child(2) {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container *:nth-child(3) {
    max-width: 200px;
}


h1 {
    text-wrap: nowrap;
    font-size: 64px;
    font-weight: bold;
}


p{
    font-size: 24px;
    font-weight: bold;
}


.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
}

.links a {
background: black;
color: white;
border: 2px solid white;
border-radius: 1rem;
padding-left: 12px;
padding-right: 12px;
cursor: pointer;
text-decoration: none;
}

.links a:hover{
background: white;
color: black;
border: 2px solid black 
}
            
button {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      button:hover {
        background: royalblue;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }
      
      .dark body {
        background: royalblue;
        color: black;
      }

      .dark button {
        background: royalblue;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .dark button:hover {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .place {
        position: absolute;
                transform-origin: right;
                top: 0dvh;
                left: 95dvw;
                width: fit-content;
                height:fit-content;
      }
      