
* {
    inset:0;
    margin:0;
    padding:0;
}

body{
    background-image: url("file:///C:/Users/wylie.fazekas/Downloads/phone-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 45cap;
}

.container {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}


.contacts{
    font-style: italic;
    font-size: 36px;
    width: 900px;
}

.small{
    color:black;
    font-style: italic;
    font-size: 24px;
    width: 900px;
}

.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
}

.links a {
background: black;
color: white;
border: 2px solid black;
border-radius: 1rem;
padding-left: 12px;
padding-right: 12px;
cursor: pointer;
text-decoration: none;
}

.links a:hover{
background: white;
color: black;
border: 2px solid black;
}

button {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      button:hover {
        background: url(./pics/what.gif);
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }
      
      .dark body {
        background: url(./pics/what.gif);
        color: black;
      }

      .dark button {
        background: url(./pics/what.gif);
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .dark button:hover {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .place {
        position: absolute;
                transform-origin: right;
                top: 0dvh;
                left: 95dvw;
                width: fit-content;
                height:fit-content;
      }
      