
* {
    inset:0;
    margin:0;
    padding:0;
}

body{
    background-image: url("file:///C:/Users/wylie.fazekas/Downloads/phone-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 45cap;
}

.container {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}


.contacts{
    font-style: italic;
    font-size: 36px;
    width: 900px;
}

.small{
    color:black;
    font-style: italic;
    font-size: 24px;
    width: 900px;
}