            * {
                inset: 0;
                margin: 0;
                padding: 0;
            }
            
            body{
                background-image: url("https://static.vecteezy.com/system/resources/previews/024/052/132/large_2x/haunted-house-on-halloween-celebration-concept-spooky-house-halloween-background-with-deserted-building-and-pumpkin-scary-house-with-creepy-building-at-night-by-ai-generated-free-photo.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                width : 100dvw;
                height: 100dvh;
                overflow: hidden;

            }

            #across {
                position: absolute;
                transform-origin: center;
                top: 50dvh;
                left: 50dvw;
                width: fit-content;
                height:fit-content;

                font-size: 125px;
                transform: translateX(-100dvw);


                animation: across 30s infinite;
                animation-delay: 20s;
            }

            #float {
                transform-origin: center;
                animation: float 3s infinite ease-in-out;
                animation-delay: 20s;
            }

            @keyframes across {
                0% {
                    transform: translate(-50%, -50%) translateX(-100dvw);
        
                }

                100% {
                    transform: translate(-50%, -50%) translateX(100dvw);
                    
                }
            }

            @keyframes float {
                0% {
                    transform: translateY(-100px);
                }

                50% {
                    transform: translateY(100px);                   
                }

                100% {
                    transform: translateY(-100px);
                }
            }

            #walk{
                position: absolute;
                transform-origin: center;
                top : 90dvh;
                left: 150dvw;
                width: fit-content;
                height:fit-content;

                font-size: 50px;
                transform: translate(-50%, -50%);

                animation: walk 15s infinite linear;
                animation-delay: 5s;
            }

            @keyframes walk {
                0% {
                    left: 150dvw;
                }

                50% {
                    left: 50dvw;
                }

                100% {
                    left: -50dvw;
                }
            }

            #bat {
                 position: absolute;
                transform-origin: center;
                top: 10dvh;
                left: 50dvw;
                width: fit-content;
                height:fit-content;

                font-size: 125px;
                transform: translateX(-100dvw);


                animation: across 15s infinite;
                animation-delay: 30s;
            }

            @keyframes bat {
                0% {
                    left: 150dvw;
                }

                50% {
                    left: 50dvw;
                }

                100% {
                    left: -50dvw;
                }
            }

            #float-bat {
                transform-origin: center;
                animation: float 1s infinite ease-in-out;
                animation-delay: 20s;
            }

             @keyframes float-bat {
                0% {
                    transform: translateY(-100px);
                }

                50% {
                    transform: translateY(100px);                   
                }

                100% {
                    transform: translateY(-100px);
                }
            }