* {
    inset:0;
    margin:0;
    padding:0;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

body {
    background-image: url("file:///C:/Users/Wylie.Fazekas/Downloads/ice-svgrepo-com.svg");
    background-repeat: round;
    background-size: 25cap;
}

body {
    background-color: rgb(0, 255, 242);
}

img {
    width: 50dvw;
}

audio {
    width: 50dvw;
    height: 5dvh;
    max-height: 10dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

video{
    width: 1dvw;
    height: 1dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-row {
    display: flex;
    flex-direction: row;
}