* {
    inset:0;
    margin:0;
    padding:0;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

body {
    background-image: url("file:///C:/Users/Wylie.Fazekas/Downloads/ice-svgrepo-com.svg");
    background-repeat: round;
    background-size: 25cap;
}

img {
    width: 50dvw;
}

audio {
    width: 50dvw;
    height: 5dvh;
    max-height: 10dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

video{
    width: 1dvw;
    height: 1dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

    button {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      button:hover {
        background: rgb(0, 255, 242);
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }
      
      .dark body {
        background: rgb(0, 255, 242);
        color: black;
      }

      .dark button {
        background: rgb(0, 255, 242);
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .dark button:hover {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .place {
        position: absolute;
                transform-origin: right;
                top: 0dvh;
                left: 94dvw;
                width: fit-content;
                height:fit-content;
      }

.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
flex-wrap: wrap;
justify-content: space-evenly;
}

.links a {
background: black;
color: white;
border: 2px solid black;
border-radius: 1rem;
padding-left: 12px;
padding-right: 12px;
cursor: pointer;
text-decoration: none;
}

.links a:hover{
background: white;
color: black;
border: 2px solid black
}
