* {
    inset:0;
    margin:0;
    padding:0;
}

    button {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      button:hover {
        background: black;
        color: white;
        border-radius: 1rem;
        border: solid 1px white;
        outline: none;
      }
      
      .dark body {
        background: rgb(0, 0, 0);
        color: white;
      }

      .dark button {
        background: black;
        color: white;
        border-radius: 1rem;
        border: solid 1px white;
        outline: none;
      }

      .dark button:hover {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .place {
        position: absolute;
                transform-origin: right;
                top: 0dvh;
                left: 94dvw;
                width: fit-content;
                height:fit-content;
      }
      
      .links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
flex-wrap: wrap;
justify-content: space-evenly;
}

      .links a {
background: black;
color: white;
border: 2px solid black;
border-radius: 1rem;
padding-left: 12px;
padding-right: 12px;
cursor: pointer;
text-decoration: none;
}

.links a:hover{
background: white;
color: black;
border: 2px solid black
}

