                * {
                inset: 0;
                margin: 0;
                padding: 0;
            }
            
            .container {
                width: 100dvw;
                height: 100dvh;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;
            }
            
            body{
                background-color: white;

                width : 100dvw;
                height: 100dvh;
                overflow: hidden;

            }

            #across {
                position: absolute;
                transform-origin: center;
                top: 50dvh;
                left: 50dvw;
                width: fit-content;
                height:fit-content;

                font-size: 125px;
                transform: translateX(-100dvw);


                animation: across 30s infinite;
                animation-delay: 20s;
            }

            #float {
                transform-origin: center;
                animation: float 3s infinite ease-in-out;
                animation-delay: 20s;
            }

            @keyframes across {
                0% {
                    transform: translate(-50%, -50%) translateX(100dvw);
        
                }

                100% {
                    transform: translate(-50%, -50%) translateX(-100dvw);
                    
                }
            }

            @keyframes float {
                0% {
                    transform: translateY(-100px);
                }

                50% {
                    transform: translateY(100px);                   
                }

                100% {
                    transform: translateY(-100px);
                }
            }

            #walk{
                position: absolute;
                transform-origin: center;
                top : 90dvh;
                left: 150dvw;
                width: fit-content;
                height:fit-content;

                font-size: 100px;
                transform: translate(-50%, -50%);

                animation: walk 15s infinite linear;
                animation-delay: 5s;
            }

            @keyframes walk {
                0% {
                    left: 150dvw;
                }

                50% {
                    left: 50dvw;
                }

                100% {
                    left: -50dvw;
                }
            }

            #fly {
                 position: absolute;
                transform-origin: center;
                top: 10dvh;
                left: 50dvw;
                width: fit-content;
                height:fit-content;

                font-size: 125px;
                transform: translateX(-100dvw);


                animation: across 15s infinite;
                animation-delay: 30s;
            }

            @keyframes fly {
                0% {
                    left: -50dvw;
                }

                50% {
                    left: 50dvw;
                }

                100% {
                    left: 150dvw;
                }
            }

            #float-fast {
                transform-origin: center;
                animation: float 1s infinite ease-in-out;
                animation-delay: 20s;
            }

             @keyframes float-fast {
                0% {
                    transform: translateY(-100px);
                }

                50% {
                    transform: translateY(100px);                   
                }

                100% {
                    transform: translateY(-100px);
                }
            }
            button {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      button:hover {
        background: url(../pics/fireworks.gif);
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }
      
      .dark body {
        background: url(../pics/fireworks.gif);
        color: white;
        border-color: black;
      }

      .dark button {
        background: url(../pics/fireworks.gif);
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .dark button:hover {
        background: white;
        color: black;
        border-radius: 1rem;
        border: solid 1px black;
        outline: none;
      }

      .place {
        position: absolute;
                transform-origin: right;
                top: 0dvh;
                left: 96dvw;
                width: fit-content;
                height:fit-content;
      }
      