* {
    inset:0;
    margin:0;
    padding:0;
}

.links {
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
font-size: 24px;
}

.links a {
background: black;
color: white;
border: 2px solid white;
border-radius: 1rem;
padding-left: 12px;
padding-right: 12px;
cursor: pointer;
text-decoration: none;
}

.links a:hover{
background: white;
color: black
}